altgraph==0.17.4 ; python_version >= "3.12" and python_version < "3.13"
black==24.8.0 ; python_version >= "3.12" and python_version < "3.13"
cfgv==3.4.0 ; python_version >= "3.12" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.12" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.13" and platform_system == "Windows"
distlib==0.3.8 ; python_version >= "3.12" and python_version < "3.13"
filelock==3.16.1 ; python_version >= "3.12" and python_version < "3.13"
flake8-pyproject==1.2.3 ; python_version >= "3.12" and python_version < "3.13"
flake8==7.1.1 ; python_version >= "3.12" and python_version < "3.13"
identify==2.6.1 ; python_version >= "3.12" and python_version < "3.13"
isort==5.13.2 ; python_version >= "3.12" and python_version < "3.13"
macholib==1.16.3 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "darwin"
mccabe==0.7.0 ; python_version >= "3.12" and python_version < "3.13"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
mypy==1.11.2 ; python_version >= "3.12" and python_version < "3.13"
nodeenv==1.9.1 ; python_version >= "3.12" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.12" and python_version < "3.13"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "3.13"
pefile==2024.8.26 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "3.13"
platformdirs==4.3.6 ; python_version >= "3.12" and python_version < "3.13"
pre-commit==4.0.0 ; python_version >= "3.12" and python_version < "3.13"
pycodestyle==2.12.1 ; python_version >= "3.12" and python_version < "3.13"
pyflakes==3.2.0 ; python_version >= "3.12" and python_version < "3.13"
pyinstaller-hooks-contrib==2024.8 ; python_version >= "3.12" and python_version < "3.13"
pyinstaller==6.10.0 ; python_version >= "3.12" and python_version < "3.13"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "3.13"
setuptools==75.1.0 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "3.13"
virtualenv==20.26.6 ; python_version >= "3.12" and python_version < "3.13"
